body{
    display: flex;
    background-color: #7A918D;
    justify-content: center;
    align-items: center;
}

#calculatrice{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    border: solid;
    align-items: center;
    background-color: #99C2A2;
}

#ecrand{
    display: flex;
    width: 380px;
    height: 100px;
    margin-top: 15px;
    margin-bottom:15px ;
    border: solid;
    border-color: black;
    background-color: #DBFEB8;
    font-size: 80px;
}

#clavier{
    width: 390px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom:15px ;
}

button{
    background-color: #C5EDAC;
    width: 24%;
    font-size: 50px;
    border-radius: 18%;
    margin: 0.5%;
    transition-duration: 0.3s;
}

button:hover {
    background-color: #6ea84a; /* Green */
  }